body {
    margin: 0px;
    padding: 0px;
    font-family:roboto;
}
.short-video-1-details {
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}
.nav-logo {
    width: 100px;
}
.profile-pic {
width: 50px;
height: 50px;
border-radius: 50%;
object-fit: fill; 
}
.right {
    display: flex;
    align-items: center;
    gap: 20px;
}
.search {
    border-radius: 100px;
    width: 100%;
    height: 30PX;
    padding-left: 10px;
    border: 1px solid grey;
    outline: none;
    }
    .middle {
        width: 40%;
    }
    .left {
    }
    .create {
        padding: 10px;
        border-radius: 30px;
        border: none;
        cursor: pointer;
    }
    .create:hover {
        background-color: rgb(209, 209, 212);
    }
    .main-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        padding: 20px;
    }

    .video-details-pfp {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
    }

    .video-card {
        width: 330px;
        border-radius: 20px;
    }
    
    .video-details {
        display:flex;
        gap: 10px;
        margin: 10px;
    }

    .video-details h2, p
    {
        margin: 0;
    }
    .video-text {
        display:flex;
        flex-direction: column;
        gap: 5px;
    }

    .title {
        font-size: 16px;
    }
    .channel {
        font-size: 14px;
    }
    .start {
        font-size: 14px;
    }
    .video-image {
        border-radius: 10px;
    }
    .video-carder:hover {
        border-radius: 20px;
    }
    .video-carder {
        height:100%;
        width: 100%;
        object-fit: contain;
    }
    .image-container {
        /*width: 300px;*/
        height: 180px; 
        position: relative;
    }
    .duration {
        width:fit-content;
        color: rgb(252, 252, 252);
        padding: 2px 1px;
        border-radius: 5px;
        position: absolute;
        bottom: 7px;
        right: 6px;
        font-size: 12px;
        background-color:black;   
        }
        .short-logo {
            height: 50px;   
        }
        .short-nav {
            display: flex;
            margin-left: 40px;
            align-items: center;
        }
        .short-videos {
            display: flex;
            flex-direction: row;
            
        }
        .short-video-1 {
            margin-left: 40px;
            border-radius: 10px;
            height: 400px;
            width: 250px;
            cursor: pointer;
        }
        .short-video-2 {
            margin-left: 40px;
            border-radius: 10px;
            height: 400px;
            width: 250px;
            cursor: pointer;
        }
        .short-video-1-details {
            margin-left: 40px;
            border-radius: 10px;
            width: 250px;
            margin-top: 10px;
            cursor: pointer;
        }
        .short-text {
            margin-left: 40px;
            margin-top: 10px;
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(78, 79, 80);
            cursor: pointer;
        }
        @media (max-width:600px) { 
            .video-text {
            color: red;
        }   
        }
        @media (width:720px) {
            .video-text {
                color: yellow;
            }
        }